body{
	margin: 0;
	padding: 0;
	background-color:  !important;
}

.bg-light{
	background-color: #fae6e6 !important;
}
.active{
	color: #00751d !important;
	font-family: Times New Roman;
		font-weight: 800;

}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    
    padding-right: 15px;
}


.navbar-brand{
	    font-family: 'Aclonica';
	    font-size: 22px;
	    color: #ff001e !important;

}


.active:hover{

	color: #d42a08 !important;
	transition: 0.5s;
}

.sessionhtml{
	height: 50px;
	background-color: ;
	font-family: Times New Roman;
	font-size: 30px;
	font-weight: 700;
	color: #098f7b;
	text-align: ;
}
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Keeps video behind content */
  object-fit: cover; /* Ensures video scales properly */
}

.btn-success{
	width: 275px;
	margin-left: 135px;
}

.display{
	background-color: ;
	height: auto;
	border: 2px solid black;
	padding-top: 9px;
}








@media only screen and (max-width: 800px){




.btn-success{
	width: 80px;
	margin-left: 0px;
}



.sessionhtml{
	
	font-size: 15px;
	
}






}